<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<script type="text/javascript" th:fragment="javascript">
    $(document).ready(function () {
        $("#search-product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/invoice/upload-products/" + request.term,
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                value: item.id,
                                label: item.name,
                                price: item.price
                            }
                        }))
                    }
                })
            },
            select: function (event, ui) {
                // $("#search-product").val(ui.item.label);
                if (itemHelper.hasProduct(ui.item.value)) {
                    itemHelper.incrementAmount(ui.item.value, ui.item.price);
                    return false;
                }
                var line = $("#templateItemsInvoice").html();
                line = line.replace(/{ID}/g, ui.item.value);
                line = line.replace(/{NAME}/g, ui.item.label);
                line = line.replace(/{PRICE}/g, ui.item.price);
                $("#loadItemProducts").append(line);
                itemHelper.calculateAmount(ui.item.value, ui.item.price, 1);
                return false;
            }
        })

        $("form").submit(function () {
            $("#templateItemsInvoice").remove();
            return;
        })
    });

    var itemHelper = {
        calculateAmount: function (id, price, amount) {
            $("#total_amount_" + id).html(parseInt(price) * parseInt(amount));
            this.calculateGrandTotal();
        },
        hasProduct: function (id) {
            var result = false;
            $('input[name="item_id[]"]').each(function () {
                if (parseInt(id) == parseInt($(this).val())) {
                    result = true;
                }
            });
            return result;
        },
        incrementAmount: function (id, price) {
            var amount = $("#amount_" + id).val() ? parseInt($("#amount_" + id).val()) : 0;
            $("#amount_" + id).val(++amount);
            this.calculateAmount(id, price, amount);
        },
        deleteLineInvoice: function (id) {
            $("#row_" + id).remove();
            this.calculateGrandTotal();
        },
        calculateGrandTotal: function () {
            var total = 0;
            $('span[id^="total_amount_"]').each(function () {
                total += parseInt($(this).html());
            });
            $("#grand-total").html(total);
        }
    }
</script>
</body>
</html>