<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
<header th:replace="layout/layout::header"></header>
<h1 th:text="${title}"></h1>
<h4>
    <a th:href="@{/ver/} + ${invoice.customer.id}" th:text="'Back'"></a>
</h4>
<form th:action="@{/invoice/form/}" th:object="${invoice}" method="post">
    <div>
        <label th:text="'Customer'"></label>
        <div>
            <input th:value="${invoice.customer.name}" disabled>
        </div>
    </div>
    <div>
        <label th:text="'Description'"></label>
        <div>
            <input type="text" th:field="*{description}">
        </div>
    </div>
    <div>
        <label th:text="'Observation'"></label>
        <div>
            <input type="text" th:field="*{observation}">
        </div>
    </div>
    <div>
        <label for="search-product" th:text="'Search Product'"></label>
        <div>
            <input type="text" name="search-product" id="search-product">
        </div>
    </div>
    <table th:replace="invoice/template-items::itemsInvoice"></table>
    <table id="loadItemProducts">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <input type="submit" th:value="${title}">
</form>
<footer th:replace="layout/layout::footer"></footer>
<script th:replace="invoice/js/autocomplete-product::javascript"></script>
</body>
</html>