<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
<header th:replace="layout/layout::header"></header>
<h1 th:text="${title}"></h1>
<div>
    <ul th:object="${customer}" th:remove="tag">
        <li th:each="err: ${#fields.errors()}" th:text="${err}"></li>
    </ul>
</div>
<form th:action="@{/form}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}"/>
                <small th:if="${#fields.hasErrors()}" th:errors="*{name}"></small>
            </td>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>
                <input type="text" th:field="*{lastName}">
                <small th:if="${#fields.hasErrors()}" th:errors="*{lastName}"></small>
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" th:field="*{email}">
                <small th:if="${#fields.hasErrors()}" th:errors="*{email}"></small>
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>
                <input type="text" th:field="*{createdAt}">
                <small th:if="${#fields.hasErrors()}" th:errors="*{createdAt}"></small>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create Customer" />
            </td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" value="">
</form>
<footer th:replace="layout/layout::footer"></footer>
</body>
</html>