<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head"></head>
<body>
<header th:replace="layout/layout::header"></header>
<h1 th:text="${title}"></h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Date</th>
            <th>Create Invoice</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer:${customers}">
            <td>
                <a th:href="@{'/ver/'+ ${customer.id}}" th:text="${customer.id}"></a>
            </td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.createdAt}"></td>
            <td>
                <a th:href="@{/invoice/form/}+${customer.id}" th:text="'Create invoice'"></a>
            </td>
            <td>
                <a th:href="@{/form/}+${customer.id}" th:text="'Edit'"></a>
            </td>
            <td>
                <a th:href="@{/delete/}+${customer.id}" th:text="'Delete'"></a>
            </td>
        </tr>
    </tbody>
</table>
<nav th:replace="layout/paginator-nav::paginator"></nav>
<footer th:replace="layout/layout::footer"></footer>
</body>
</html>