<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<nav>
    <a href="index">Index</a>
    <a href="list">List</a>
    <a href="form">Create Customer</a>
</nav>
<h1 th:text="${title}"></h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Date</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="customer:${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.createdAt}"></td>
            <td>
                <a th:href="@{/form/}+${customer.id}" th:text="'Edit'"></a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>