<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout::head"></head>
<body>
<header th:replace="layout/layout::header"></header>
<h1 th:text="${title}"></h1>
<div>
    <h4 sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/invoice/form/} + ${customer.id}" th:text="'Create Invoice'"></a>
    </h4>
    <img th:if="${#strings.length(customer.photo) > 0}" style="max-width: 25%" th:src="@{'/uploads/' + ${customer.getPhoto()}}" th:alt="${customer.photo}">
    <ul>
        <li th:text="${customer.name}"></li>
        <li th:text="${customer.lastName}"></li>
        <li th:text="${customer.email}"></li>
        <li th:text="${customer.createdAt}"></li>
    </ul>
    <div th:if="${#lists.isEmpty(customer.invoices)}" th:text="'There are no invoices assigned to customer ' +${customer.name} + ' ' + ${customer.lastName}"></div>
    <table th:if="${not #lists.isEmpty(customer.invoices)}">
        <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Description</th>
                <th>Date</th>
                <th>Total</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Ver</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="invoice:${customer.invoices}">
                <td th:text="${invoice.id}"></td>
                <td th:text="${invoice.description}"></td>
                <td th:text="${invoice.createdAt}"></td>
                <td th:text="${invoice.total}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/invoice/ver/' + ${invoice.id}}" th:text="'Detail'"></a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/invoice/delete/' + ${invoice.id}}" th:text="'Delete'"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout/layout::footer"></footer>
</body>
</html>